/* src/Nav/Nav.module.css */

.header {
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: #171717;
    background: linear-gradient(#100f19);


    z-index: 50;

    backdrop-filter: blur(12px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    padding-top: 2rem;
    position: relative;
    margin: 0 auto;
    top: 0;
    max-width: var(--max-width);
}

/* BRAND LEFT */
.brand {
    position: absolute;
    left: 1.5rem;
    display: flex;
    gap: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.money {
    color: #ffffff;
}

.mode {
    color: #7dd3fc;
    /* baby blue from PDF */
}

/* NAV LINKS CENTER */
.links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.links a {
    color: #c7cad7;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    transition: color 0.2s ease;
}

.links a:hover {
    color: #ffffff;
}

/* BURGER (MOBILE) */
.toggle {
    display: none;
}

.burger {
    display: none;
    position: absolute;
    right: 1.5rem;
    width: 34px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid #2a2b3b;
    /* background: rgba(8, 8, 16, 0.9); */
    background: #1f1f1f;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    width: 16px;
    height: 2px;
    background: #c7cad7;
    border-radius: 999px;
}

/* MOBILE MENU */
@media (max-width: 767px) {
    .links {
        position: fixed;
        top: 64px;
        left: 1rem;
        right: 1rem;
        flex-direction: column;
        /* background: #191727; */
        background: linear-gradient(135deg, #100F19 0%, #1B1E2B 100%);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: 1px solid #202131;
        border-radius: 14px;
        padding: 1rem;
        gap: 1rem;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: all 0.2s ease;
    }

    .burger {
        display: flex;
    }

    .toggle:checked~.links {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }
}