.resultsSection {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* increase section height */
    padding: 6rem 6rem;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.75)),
        url('/Images/section-bg3.png');

    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    max-width: 1200px;
}

/* HEADING */
.heading {
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

/* SUBTEXT */
.subtext {
    font-size: 20px;
    color: #d9d9d9;
    text-align: center;
    max-width: 700px;
    margin-top: -10px;
}

/* GRID */
.grid {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

/* CARD */
.card {
    width: 400px;
    padding: 20px;
    border-radius: 12px;
    /* background: #1a1a1a; */
    /* matte black */
    /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.45); */
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(4px) saturate(140%);
    -webkit-backdrop-filter: blur(4px) saturate(140%);

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.4),
        inset 0 1px 1px rgba(255, 255, 255, 0.15);

    box-shadow: 0 0 2px 1px #0ff;

}

/* LABEL */
.label {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
}

/* IMAGE */
.image {
    width: 100%;
    aspect-ratio: 1600 / 703;
    /* matches your source images */
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/* CTA LINK */
.ctaLink {
    font-size: 1rem;
    text-decoration: none;
    margin-top: 1rem;
    transition: all 0.2s ease;
    color: #7dd3fc;
}

.ctaLink:hover {
    text-decoration: underline;
}

/* WHITE PART OF CTA */
.whiteText {
    color: #ffffff;
    font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .resultsSection {
        padding: 6rem 1rem;
    }

    .card {
        width: 100%;
        max-width: 420px;
    }

    .image {
        /* height: 300px; */
        aspect-ratio: 1600 / 703;
    }
}

@media (max-width: 600px) {
    .heading {
        font-size: 32px;
    }

    .subtext {
        font-size: 18px;
    }

    .card {
        width: 100%;
        max-width: 360px;
    }

    .image {
        /* height: 260px; */
        aspect-ratio: 1600 / 703;

    }
}