.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

/* LEFT SIDE */
.left {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 520px;
}

.heading {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.subheading {
    font-size: 24px;
    font-weight: 500;
    color: #e5e5e5;
    margin: 0 0 10px 0;
    display: flex;
    align-items: start;
    gap: 1rem;
}

.subheading span {
    font-weight: 700;
    font-size: 7rem;
    background: linear-gradient(to right, #FFFFFF 0%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
}

.subheading .text {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    padding-top: 1rem;

}

.subheading .text p {
    margin: 0;
}

/* EMAIL INPUT & BUTTON STYLING */
.left input[type="email"] {
    border-radius: 0;
    border: none;
    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;
    background-color: #ffffff;
    color: #000;
    height: 3.5rem;
    padding: 0 1rem;
}

.left button {
    border-radius: 0;
    border: none;
    font-size: 0.7rem;
    font-weight: 600;
    cursor: pointer;
    background: #464646;
    color: #ffffff;
    height: 3.5rem;
    transition: all 0.2s ease;
    padding: 0 1.5rem;
}

.left button:disabled {
    cursor: not-allowed;
    background: #2a2a2a;
    color: #555555;
}

.left button:hover:not(:disabled) {
    background: #7dd3fc;
    color: #000;
}

/* NOTE UNDER BUTTON */
.note {
    font-size: 16px;
    color: #d9d9d9;
    margin-top: -10px;
}

/* RIGHT SIDE IMAGE */
.right {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
    object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
        text-align: center;
    }

    .left {
        align-items: center;
    }

    .right {
        width: 80%;
    }


}

@media (max-width: 600px) {
    .heading {
        font-size: 32px;
    }

    .subheading {
        font-size: 20px;
    }

    .right {
        width: 100%;
    }

    .left input[type="email"] {
        width: 100%;
    }

    .left button {
        width: 100%;
    }




}